<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upsczindabaad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="i-kon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpscZindabaad">
        <activity android:name=".posts.posttab"></activity>
        <activity android:name=".edtgrup" />
        <activity android:name=".groupchat" />
        <activity android:name=".tabbedWindow" />
        <activity android:name=".editmyprofile" />
        <activity android:name=".myprofile" />
        <activity android:name=".chtwnd" />
        <activity android:name=".individualchat" />
        <activity android:name=".dashboardg" />
        <activity android:name=".signUpactivity" />
        <activity android:name=".loginActivityG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>